
<h3> Hi <%= @user.name %> !</h3>
<%= link_to "Activate your account", edit_account_activation_url(@user.activation_token,
                                                                 email: @user.email) %>
